*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

a{
	text-decoration: none;
	color: black;
	margin-right: 15px;
	font-size: 20px;
}

body{
	background-color: #6e6449;
}

h1{
	text-align: center;
	font-size: 38px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: lighter;
}

.about{
	margin-top: 30px;
	padding-bottom: 40px;
	background-color: beige;
	font-size: 20px;
	text-align: center;
	box-shadow: 5px 0 3px beige;
}

.aboutuscontainer{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.teammemberscontainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 53px;
}

.teammembers{
	background-color: #c4b386;
	margin-top: 7px;
	margin-bottom: 7px;
	border: 3px solid #6e6449;
	border-radius: 5px;
	width: 300px;
	box-shadow: 5px 5px 3px #c4b386;
}

label{
	font-size: 25px;
}

.faqwrapper{
	background-color: beige;
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
	box-shadow: 5px 0 3px beige;

}

.faqcontainer{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-size: 20px;
	padding-top: 20px;
}

.faqflexbox{
	background-color: #c4b386;
	margin-top: 7px;
	margin-bottom: 7px;
	border: 3px solid #6e6449;
	border-radius: 5px;
	width: 600px;
	box-shadow: 5px 5px 3px #c4b386;
}

.faqquestion{
	margin-bottom: 15px;
	font-weight: bold;
}

.faqanswer{

}


.contact{
	background-color: #c4b386;
	margin-top: 53px;
	box-shadow: 5px 0 3px #c4b386;
}

.contactus{
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 53px;
}

.inputboxes{
	width: 25%;
	min-width: 300px;
	border-radius: 4px;
	margin-bottom: 5px;
}

.contactus input, textarea{
	border: none;
	background-color: beige;
	box-shadow: 5px 5px 3px #6e6449;
	font-size: 20px;
}

@media(min-width: 1440px){
	.teammemberscontainer{
		width: 80%;
		margin-left: 10%;
	}
	.faqcontainer{
		width: 80%;
		margin-left: 10%;
	}
}
@media(max-width: 768px){
	.faqflexbox{
		width: 300px;
	}
}
