*{
    margin: 0;
    padding: 0;
    
}

.main {
    width: 100%;

}

.header{
    text-align: center;
    font-size: 40px;
    margin: 3% 0 5% 0;
    padding: 0;
}

.nav {
    z-index: 2;
    position: fixed;
    float: left;
    width: 10%;
    height: 10%;
    background-color: white;
}
.nav img {
    width: 100%;
}
.dropdown {
    width: 100%;
    border-radius: 5px;
    background-color: white;
}
.dropdown-icon {
    position: relative;
    display: inline-block;
    width: 100%;
}
.dropdown-content {
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    padding-left: 4px;
    display: none;
    text-align: left;
    position: absolute;
    z-index: 2;
    width: auto;
    background-color: white;
}
.navigationlink {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 2.5vw;
    font-weight: normal;
}
.navigationlink ul {
}
.dropdown:hover .dropdown-content {
    cursor: pointer;
    display: block;
    transition: 0.3s;
}
.dropdown-content a:hover {
    color: white;
}

.logo {
    z-index: -1;
    float: right;
    width: 10%;
    height: 10%;
}
.logo img {
    width: 100%;
}

.flexparent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: 50%;
}

.flexparent img{
    height: 60%;
    width: auto;
}

.paragraph{
    margin: 3% 10% 0 10%;
    text-align: center;
}

.paragraph2{
    margin: 0 10% 3% 10%;
    text-align: center;
}

.bakerPic{
    width: 290px;
    order: 1;
}

.wordSearchPic{
    width:290px;
    order: 2;
}

.matchPic{
    width: 290px;
    order: 3;
}

.bottom {
    border-top: solid white 2px;
    padding-top: 2px;
    color: gray;
    display: flex;
    justify-content: space-between;
    position: static;
    width: 100%;
    background-color: #faf1fe;
}
.bottomBox1 {
    flex-basis: 30%;
    font-size: 12px;
}
.bottomBox2 {
    flex-basis: 30%;
    text-align: center;
    font-size: 12px;
}
.bottom a {
    text-decoration: none;
    color: inherit;
    order: 6;
}
.bottomBox3 {
    flex-basis: 30%;
    text-align: right;
    font-size: 12px;
}
.qButton {
    text-align: center;
    background-color: white;
}
.content2 {
    font-family: sans-serif;
    font-weight: lighter;
    line-height: 1.5;
    position: absolute;
    padding: 0;
    z-index: 1;
    width: 100%;
    background-color: #faf1fe;
    color: black;
    text-align: center;
}
.content2 h1,
h2 {
    text-align: center;
}
.bottomParagraph{
    margin: 0 10% 3% 10%;
    text-align: center;
}
.bottomParagraph p{
    
}

