*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a{
	cursor: pointer;
}

/*	NAVIGATION
----------------------------------*/
.nav{
	z-index: 2;
	position: fixed;
	float: left;
	width: 10%;
	height: 10%;
	background-color: white;
}
.nav img{
	width: 100%;
	padding: 10%;
}
.dropdown{
  width: 100%;
	border-radius: 5px;
	background-color: white;
}
.dropdown-icon{
  position: relative;
  display: inline-block;
  width: 100%;
}
.dropdown-content{
	border-top-right-radius: 10%;
	border-bottom-right-radius: 10%;
	padding-left: 4px;
  display: none;
	text-align: left;
  position: absolute;
  z-index: 2;
  width: auto;
	background-color: white;
}
.navigationlink{
		text-decoration: none;
		text-align: center;
		text-transform: uppercase;
		color: black;
		font-size: 2.5vw;
}
.navigationlink ul{
}
.dropdown:hover .dropdown-content{
	cursor: pointer;
  display: block;
	transition: 0.3s;
}
.dropdown-content a:hover{
	color:grey;
}

/*	LOGO/NAVIGATION(?)
----------------------------------*/
.logo{
	z-index: -1;
	float: right;
	width: 10%;
	height: 10%;
}
.logo img{
	width: 100%;
}

/*	HOME
----------------------------------*/
.top{
	font-family: sans-serif;
	font-weight: lighter;
}
.wowImage{
	min-width: 100%;
	height: 100%;
	position: fixed;
	z-index: -2;
}
.frontView{
	position: fixed;
	width: 100%;
	padding-top: 25%;
	text-align: center;
}
.frontView h1{
	text-align: center;
	font-family: Garamond;
	color: white;
	padding-bottom: 5%;
	font-size: 34px;
}
.dlButton{
	background-color:yellow ;
	width: 15em;
	height: auto;
	cursor: pointer;
	border-radius: 5px;
	border-color: #ffb347 ;
}
.content1{
	font-family: sans-serif;
	font-weight: lighter;
	line-height: 1.5;
	position: absolute;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
	margin-top: 90%;
	z-index: 1;
	width: 100%;
	background-color: #FAF1FE;
	color: black;
}
.content1 img{
	width: 50%;
	padding: 25%;
}

/*	CHARACTERS
----------------------------------*/
.content2{
	font-family: sans-serif;
	font-weight: lighter;
	line-height: 1.5;
	position: absolute;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
	z-index: 1;
	width: 100%;
	background-color: #FAF1FE;
	color: black;
}
.content2 h1,h2{
	text-align: center;
}
.blockImages{
	padding: 2%;
}
.flexparent{
	/*	SOMEBODY PLEASE */
}

/*	LEARNING OUTCOME
----------------------------------*/
/*Skriv kode her*/

/*	GALLERY
----------------------------------*/
/*Skriv kode her*/

/*	ABOUT US
----------------------------------*/
.aboutusheader{
	text-align: center;
	font-size: 38px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: lighter;
}
.about{
	font-weight: lighter;
	padding-bottom: 40px;
	background-color: #FAF1FE;
	font-size: 20px;
	text-align: center;
	box-shadow: 5px 0 3px #ADA1B3;
}
.aboutuscontainer{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.teammemberscontainer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 35px;
}
.teammembers{
	background-color: #E1D1E8;
	margin-top: 7px;
	margin-bottom: 7px;
	width: 300px;
	box-shadow: 5px 5px 3px #ADA1B3;
}
.faqwrapper{
	background-color: #FAF1FE;
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
	box-shadow: 5px 0 3px #ADA1B3;
}
.faqcontainer{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-size: 20px;
	padding-top: 20px;
}
.faqflexbox{
	background-color: #E1D1E8;
	margin-top: 7px;
	margin-bottom: 7px;
	width: 600px;
	box-shadow: 5px 5px 3px #ADA1B3;
}
.faqquestion{
	margin-bottom: 15px;
	font-weight: bold;
}
.faqanswer{

}
.contact{
	background-color: #E1D1E8;
	margin-top: 53px;
	box-shadow: 5px 0 3px #ADA1B3;
}
.contactus{
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 53px;
}
.contactuslabel{
	font-size: 25px;
}
.inputboxes{
	width: 25%;
	min-width: 300px;
	padding-left: 4px;
	margin-bottom: 5px;
}
.contactus input, textarea{
	border: none;
	background-color: #FBF2FF;
	box-shadow: 5px 5px 3px #6ADA1B3;
	font-size: 20px;
}

@media(min-width: 1440px){
	.teammemberscontainer{
		width: 80%;
		margin-left: 10%;
	}
	.faqcontainer{
		width: 80%;
		margin-left: 10%;
	}
}
@media(max-width: 768px){
	.faqflexbox{
		width: 300px;
	}
	.navigationlink{
		font-size: 28px;
	}
}

/*	BOTTOM
----------------------------------*/
.bottom{
	border-top: solid white 2px;
	padding-top: 2px;
	color: gray;
	display: flex;
	justify-content: space-between;
	position: static;
	width: 100%;
	background-color: #FAF1FE
}
.bottomBox1{
	flex-basis: 30%;
	font-size: 12px;
}
.bottomBox2{
	flex-basis: 30%;
	text-align: center;
	font-size: 12px;
}
.bottom a{
	text-decoration: none;
	color: inherit;
}
.bottomBox3{
	flex-basis: 30%;
	text-align: right;
	font-size: 12px;
}
.qButton{
	text-align: center;
	background-color: white;
}
