* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    cursor: pointer;
}

/*	NAVIGATION
----------------------------------*/
.nav {
    z-index: 2;
    position: fixed;
    float: left;
    width: 10%;
    background-color: white;
}
.nav img {
    width: 100%;
    padding: 10%;
}
.dropdown {
    width: 100%;
    border-radius: 5px;
    background-color: white;
}
.dropdown-icon {
    position: relative;
    display: inline-block;
    width: 100%;
}
.dropdown-content {
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    padding-left: 4px;
    opacity: 0;
    text-align: left;
    position: absolute;
    z-index: 2;
    width: auto;
    background-color: white;
}
.navigationlink {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: black;
    font-size: 2.5vw;
    font-weight: normal;
}
.dropdown:hover .dropdown-content,
.dropdown:focus .dropdown-content {
    cursor: pointer;
    opacity: 1;
    transition: 0.3s;
}
.dropdown-content a:hover {
    color: gray;
}

/*	LOGO/NAVIGATION(?)
----------------------------------*/
.logo {
    position: fixed;
    z-index: 2;
    right: 0;
    width: 18%;
    background-color: white;
    border-bottom-left-radius: 10px;
}
.logo img {
    width: 100%;
}

/*	HOME
----------------------------------*/
body {
    font-weight: lighter;
    font-family: sans-serif;
}
.top {
    font-family: sans-serif;
    font-weight: lighter;
}
.wowImage {
    min-height: 90vh;
    min-width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
}
.wowImage img {
    min-width: 100%;
    min-height: 100%;
}
.frontView {
    position: fixed;
    width: 100%;
    padding-top: 25%;
    padding-top: 25vh;
    text-align: center;
}
.frontView h1 {
    text-align: center;
    font-family: Garamond;
    color: white;
    padding-bottom: 5%;
    padding-bottom: 5vh;
    font-size: 34px;
}
.dlButton {
    background-color: yellow;
    width: 15em;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
    border-color: #ffb347;
}
.content1 {
    font-family: sans-serif;
    font-weight: lighter;
    line-height: 1.5;
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    margin-top: 90vh;
    z-index: 1;
    width: 100%;
    background-color: #faf1fe;
    color: black;
}
.content1 img {
    width: 50%;
}
.lizzie {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25%;
    width: 100%;
    border-radius: 10px;
}

/*	CHARACTERS
----------------------------------*/
.content2 {
    font-family: sans-serif;
    font-weight: lighter;
    line-height: 1.5;
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    z-index: 1;
    width: 100%;
    background-color: #faf1fe;
    color: black;
}
.content2 h1,
h2 {
    text-align: center;
}
.blockImages {
    display: flex;
    padding: 2%;
    justify-content: space-around;
}
.blockImages img {
    width: 45%;
}
.blockImages2 {
    display: flex;
    justify-content: center;
}
.blockImages2 img {
    width: 100%;
}

/*	LEARNING OUTCOME
----------------------------------*/
/*Skriv kode her*/

/*	GALLERY
----------------------------------*/
/*Skriv kode her*/

/*	ABOUT US
----------------------------------*/
.aboutusheader {
    text-align: center;
    font-size: 38px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: lighter;
}
.about {
    font-weight: lighter;
    padding-bottom: 40px;
    background-color: #faf1fe;
    font-size: 20px;
    text-align: center;
    box-shadow: 5px 0 3px #ada1b3;
}
.aboutuscontainer {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.teammemberscontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 35px;
}
.teammembers {
    background-color: #e1d1e8;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 300px;
    box-shadow: 5px 5px 3px #ada1b3;
}
.faqwrapper {
    background-color: #faf1fe;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 5px 0 3px #ada1b3;
}
.faqcontainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 20px;
    padding-top: 20px;
}
.faqflexbox {
    background-color: #e1d1e8;
    margin-top: 7px;
    margin-bottom: 7px;
    width: 600px;
    box-shadow: 5px 5px 3px #ada1b3;
}
.faqquestion {
    margin-bottom: 15px;
    font-weight: bold;
}
.contact {
    background-color: #e1d1e8;
    margin-top: 53px;
    box-shadow: 5px 0 3px #ada1b3;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}
.contactus {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 53px;
}
.contactuslabel {
    font-size: 25px;
}
.inputboxes {
    width: 25%;
    min-width: 300px;
    padding-left: 4px;
    margin-bottom: 5px;
}
.contactus input,
textarea {
    border: none;
    background-color: #fbf2ff;
    box-shadow: 5px 5px 3px #6ADA1B3;
    font-size: 20px;
}

@media (min-width: 1440px) {
    .teammemberscontainer {
        width: 80%;
        margin-left: 10%;
    }
    .faqcontainer {
        width: 80%;
        margin-left: 10%;
    }
}
@media (max-width: 768px) {
    .faqflexbox {
        width: 300px;
    }
    .navigationlink {
        font-size: 28px;
    }
}

/*	BOTTOM
----------------------------------*/
.bottom {
    border-top: solid white 2px;
    padding-top: 2px;
    color: gray;
    display: flex;
    justify-content: space-between;
    position: static;
    width: 100%;
    background-color: #faf1fe;
}
.bottomBox1 {
    flex-basis: 30%;
    font-size: 13px;
}
.bottomBox2 {
    flex-basis: 30%;
    text-align: center;
    font-size: 13px;
}
.bottom a {
    text-decoration: none;
    color: inherit;
}
.bottomBox3 {
    flex-basis: 30%;
    text-align: right;
    font-size: 13px;
}
.qButton {
    text-align: center;
    background-color: white;
}

/*	LEARNING OUTCOME	*/

.flexparent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    height: 50%;
}

.flexparent img {
    height: 60%;
    width: auto;
}

.paragraph {
    margin: 3% 10% 0 10%;
    text-align: center;
}

.paragraph2 {
    margin: 0 10% 3% 10%;
    text-align: center;
}

.bakerPic {
    width: 290px;
    order: 1;
}

.wordSearchPic {
    width: 290px;
    order: 2;
}

.matchPic {
    width: 290px;
    order: 3;
}
